Assignment 1/WBSIM_Lab1/WBSIM/gis/osm/buildings.shp
Assignment 1/WBSIM_Lab1_cleanedDataset/WBSIM_Lab1_cleanedDataset/gis/osm/buildings.shp
.idea/epa1352advancedsimulation.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
